@charset "UTF-8";
:root{
    --fonte1 : verdana, Geneva, Tahoma, sans-ferif;
    --fonte2 : 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}
* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}
body {
    min-height: 100vh;
    background-color: darkgray;
}

header {
    background-color: black;
    height: 150px;
    width: 100%;
    padding-top: 65px;
    padding-bottom: 60px;
}
h1 {
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5em;
}

header > p {
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

p {
    text-align: justify;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 40px;

}

section.normal {
    line-height: 2em;
    background-color: white;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;

}

section.normal > p{
    color: black;
    padding: 5px;
} 

section.imagem {
    line-height: 2em;
    background-color: black;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;   
}

section.imagem > p {
    color: white;
    background-color: rgba(0, 0, 0, 0.363);
    display: inline-block;
    padding: 5px;

}

#img1 {
    background-image: url('../imagens/background001.jpg');
}

#img2 {
    background-image: url('../imagens/background002.jpg');
}

footer {
    width: 100%;   
    padding: 10px;
    background-color: black;
}

footer > p {
    color: white;
    text-align: center;
}