@charset "UTF-8";

#espaco{  
    background-image: url('../imagens/espaco.jpg');
    background-size: 100% 100%;
    position: relative;
    height: 96vh;
    padding: 10px;
    background-color: black;
}

#astrounauta{
    background-image: url('../imagens/astronauta.png');
    background-size: 100% 100%;
    position: absolute;
    background-color: transparent;
    height: 462px;
    width: 415px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}